/*Styles for jQuery modalWait Widget*/

div.modal {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10001;
    background-color: #4F4F4F;
    opacity: .5;
    filter: alpha(opacity=50);
}

.modalWait {
    background-color: #cfcece;
    border: 1px solid #797979;
    width: 280px;
    height: 50px;
    z-index: 10002;
}

    .modalWait .waitImg,
    .modalWait .modalWaitText {
        width: 250px;
        height: 20px;
        margin-top: -10px;
        margin-left: -125px;
    }

    .modalWait,
    .modalWait .waitImg {
        position: absolute;
        top: 50%;
        left: 50%;
    }

        .modalWait .modalWaitText {
            position: absolute;
            top: 50%;
            left: 50%;
            font: italic 8pt calibri;
            text-align:center;
        }
